# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Abaqus stuff
*.odb
*.inp
*.rp[yt]

# MATLAB stuff
*.asv

# debugging stuff
*.csv
*.xls*
debug.py
verify*.py
test*.m
