# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Abaqus stuffs
*.odb
*.inp
*.rp[yt]

# debugging stuff
*.csv
*.xls*
debug.py
verify*.py

# MATLAB stuff
*.asv
